/* #heading{
    padding-top: 2%;
} */
#heading p{
  font-size: 4em;
}
#home-slideshow .carousel {
    width: 800px; 
    height: 500px;
  }
  /* .carousel-item img {
    width: 100%; Set the desired width
    height: 100%; Set the desired height
    object-fit: cover; Adjust the image to cover the entire slide
  } */
.top-section{
  background-color:  #212529;
}
#hot-topics{
  background-color: #212529;
}
/* *{
  font-family: 'Raleway', sans-serif;
} */
@media(max-width:825px){
  #home-slideshow .carousel {
    width: 600px; 
    height: 400px;
  }
}
@media(max-width:625px){
  #home-slideshow .carousel {
    width: 400px; 
    height: 300px;
  }
}
@media(max-width:427px){
  #home-slideshow .carousel {
    width: 300px; 
    height: 200px;
  }
  #heading p{
    font-size: 2em;
  }
}
.card:hover img {
  opacity: 0.9;
}
#footer{
  background-color: #212529;
}

#must-read .style{
  padding:2% 2%;
  background-color: #efefef;
}
@media(min-width:1198px){
  .content{
    padding-top: 7%;
  }
}
.section-head{
  font-family: 'Montserrat', sans-serif;
  color: #0099DC;
}
#Explore .style{
  padding:2% 2%;
}
.sub-head{
  font-family: 'Montserrat', sans-serif;
  color: #195e7b;
}
.content button{
  border:#195e7b;
  background-color:#195e7b;
}